/* =======================
   Layout & Container
   ======================= */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

textarea {
    background: var(--fact-bg);
    border: 1px solid var(--fact-border);
    color: var(--text-primary);
    border-radius: 1em;
    margin-top: 1em;
}

button {
    background: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: var(--button-hover-bg);
}

button:disabled {
    /* stops hover from happening */
    background: var(--button-bg) !important;

    cursor: not-allowed;
    opacity: 0.6;
}

img {
    width: 25%;
    max-width: 200px;
    margin: 0 auto;
    border: 1px solid var(--fact-border);
    border-radius: 1em;
    padding: 1em;
}

/* =======================
    Results
   ======================= */

.results div {
    text-align: left;
    border-radius: 1em;
    padding: 1em;
    margin-top: 2em;
}

.results {
    opacity: 0;
    transform: translateY(10px);
    animation: slideFadeIn 0.5s ease-out forwards;
}


.error {
    background: var(--error-bg);
    border: 1px solid var(--error-border);
    color: var(--error-text);
    text-align: left;
}


@keyframes slideFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}