#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.results div {
    text-align: left;
    border-radius: 1em;
    padding: 1em;
    margin-top: 2em;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

.error {
    background: #fee2e2;
    text-align: left;
}

button {
    background: #2563eb;
}

img {
    width: 25%;
    max-width: 200px;
    margin: 0 auto;
    border: 1px solid #3b82f6;
    border-radius: 1em;
    padding: 1em;

}

textarea {
    background: #e0f2fe;
    border: 1px solid #3b82f6;
    color: #111827;
    border-radius: 1em;
    margin-top: 1em;
}